default:
  SECRET_KEY: "default-secret-key"
  ES_INDEX_NAME: "default-index-name"
  CLIP_MODEL_NAME: "clip-ViT-B-32"
  IMAGE_CACHE_DIR: "images/"
  INSERT_BATCH_SIZE: 200
  KNN:
    K: 10
    NUM_CANDIDATES: 100

development:
  SECRET_KEY: "dev-secret-key"
  DEBUG: true
  ES_INDEX_NAME: "inat-photos-index-dev"

testing:
  SECRET_KEY: "test-secret-key"
  TESTING: true
  ES_INDEX_NAME: "inat-photos-index-test"

production:
  SECRET_KEY: "production-secret-key"
  DEBUG: false
  ES_INDEX_NAME: "inat-photos-index-production"


